.layout{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 2fr 1fr;
}


main{
    grid-column: 2/3;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 5px;
}
main :nth-child(3n){
    grid-column: 1/-1;
}



.tweet{
    background-color: grey;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
.header img {
    width: 40%;
    max-width: 200px;
}
.auteur{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media screen and (max-width : 600px) {
    main{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width : 350px) {
    .header{
        flex-direction: column;
    }
}


aside{
    grid-column: 4/5;
    position: sticky;
    top: 30px;
    
    background-color: blue;
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 20px;
}   

@media screen and (max-width : 650px) {
    .layout{
        grid-template-columns: 1fr 7fr 1fr ;
        row-gap: 30px;
    }
    aside{
        order: -1;
        grid-column: 2/3;
        top: 0;
    }
}