.layout{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 2fr 1fr;
    row-gap: 100px;
}
main{
    grid-column: 2/3;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 5px;
}
main :nth-child(3n){
    grid-column: 1/-1
}
.tweet{
    background-color: grey;
}
.header{
    width:100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
.header img {
    width: 40%;
}

.auteur{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}