nav {
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    margin-top: 30px;
    background-color: lightcoral; 
    padding-inline: 20px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    list-style: none;
}

.boutons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bouton{
    display: flex;
    justify-content: center;

    padding-bottom: 10px;
    padding-top: 10px;

    border-radius: 8px;

    padding-left: 15px;
    padding-right: 15px;
}

.inscription{
    background-color: #e1E1eb;
}

.connexion{
    background-color: #405082;
}



@media screen and (max-width : 600px) {
    nav{
        flex-direction: column;
        gap:20px;
    }
}



