nav {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightcoral;
    align-items: center;
    padding-inline: 20px;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boutons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
}

.bouton{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.inscription{
    background-color: #e1E1eb;
}

.connexion{
    background-color: #405082;
}



@media screen and (max-width : 600px) {
    nav{
        flex-direction: column;
        gap:20px;
    }
}



